# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/
.venv/
for_venv.txt

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log
parameters_output.txt
output.txt

# Test outputs
.coverage
htmlcov/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment variables
.env

# Backup files
*.bak
*~